<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<channels>

<channel>
<name>[B][COLOR white]SERVIDORES HLS[/COLOR][COLOR yellow][/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/JwRbG6n.jpeg</thumbnail>
<fanart>https://i.imgur.com/JwRbG6n.jpeg</fanart>
<info>[COLOR white]SERVIDOR 1[/COLOR]</info>
<externallink>https://raw.githubusercontent.com/DXVKUSER/SRTORRENT/refs/heads/main/menuhls.xml</externallink>
</channel>

<channel>
<name>[B][COLOR white]SERVIDORES MPEGTS[/COLOR][COLOR yellow][/COLOR][/B]</name>
<thumbnail>https://i.imgur.com/JwRbG6n.jpeg</thumbnail>
<fanart>https://i.imgur.com/JwRbG6n.jpeg</fanart>
<info>[COLOR white]SERVIDOR 2[/COLOR]</info>
<externallink>https://raw.githubusercontent.com/DXVKUSER/SRTORRENT/refs/heads/main/menuts</externallink>
</channel>

</channels>
